body {
    font-family: 'Roboto', sans-serif;
}
section {
    padding-top: 80px;
    padding-bottom: 120px;
}
.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pad-bottom {
    padding-bottom: 60px;
}
#home {
    background: url(../img/home.jpg) no-repeat center center; /*Full Witdth background image*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
    #home .overlay {
        padding-top: 90px;
        background-color: rgba(35, 133, 161,0.75); /*.75 opacity of the color so that background image is visible*/
        min-height: 600px;
        color: #fff;
    }
    #home h1 {
        padding-top: 80px;
        font-weight: 900;
        font-size: 100px;
        font-family: 'Browallia New';
    }
#about {
    color: #fff;
    text-align: center;
}
    #about .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        min-height: 300px;
        color: #fff;
    }

    #about h1 {
        padding-top: 80px;
        font-size: 50px;
        font-weight: 900;
        padding-bottom: 30px;
    }
#resourses {
    background-color:#f4f4f4;
    padding-bottom:50px;
    padding-top:50px;
}
    #resourses  img {
        opacity:0.5;
        cursor:pointer;
    }
        #resourses  img:hover {
            opacity:1;
        }
#do {
    color: #fff;
    text-align: center;
}

    #do .overlay {
        background-color: rgba(0, 0, 0, 0.85);
        min-height: 300px;
        color: #fff;
    }

    #do h1 {
        padding-top: 80px;
        font-size: 50px;
        font-weight: 900;
        padding-bottom: 30px;
    }
footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgb(35, 133, 161);
    color: #fff;
}
    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }